extends layout

block content
  
  nav
    div(class='nav-wrapper row')
      a(class='left brand-logo') LUT-Blog
      ul(id='nav-mobile', class='right')
        li
          a(href='./posts', class='right') Community
        li
          a(href='./mypage', class='right') My Page

  h3 New Post
  form(method='POST' action='/mypage/create' class='row')
            div.form-group
              label(for='name') Name:
              input#name.form-control(type='text', placeholder='Your name' name='author')
            div.form-group
              label(for='content') Post:
              input#content.form-control(type='text' name='content')
            button.btn.btn-primary(type='submit') New Post

  ul(class='collection with-header')
    li(class='collection-header')
      h4= title
  each post in post_list
    li(class='collection-item avatar') 
      div(class='row')
        div(class='col')
          i(class='medium material-icons circle') account_circle
        div(class='col')
          span #{post.author}
          p #{post.content}

  else
    li There are no posts yet.